
@{
    ViewData["Title"] = "About";
}

    <div class="jumbotron text-center">
        <h1 class="text-lg-center">Who we are</h1>
        <p class="lead text-center">Mission statement goes here...</p>
        
    </div>
<div class="row">
    <div class="col-md-4">
        <p>Picture here</p>
    </div>
    <div class="col-md-8 text-center">
        <h3>Luke Schweighart</h3>
        <p>About Lukey boi</p>
    </div>
</div>
