@{
    ViewData["Title"] = "ContactUs";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact us!</title> <!-- Include CSS file here -->
    <link href="~/css/ContactFormStyle.css" rel="stylesheet" />
    
</head>
<body>
    <div style="background-color: darkgray !important" class="jumbotron"><h1 class="text-center">Let us know how we can help!</h1></div>
    <div class="row">
    <div id="main" class="col-md-8 text-center">
        
        <div id="form_sample" class="text-center"></div> <!-- Include JS file here -->

        <script src="~/js/ContactFormJS.js"></script>
    </div>
        <div class="col-md-4 text-center">
            <h2>SWS Technologies</h2>
            <p>Address: jhdfkjhsdfks</p>
            <p>City, State, zip</p>
            <p>Cell: (000)-000-0000</p>
            <p>Hours: M-F hour - hour</p>
        </div>
        </div>

</body>
</html>
