@{
    ViewData["Title"] = "ContactUs";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact us!</title> <!-- Include CSS file here -->
    <link href="~/css/ContactFormStyle.css" rel="stylesheet" />
</head>
<body>
    <div id="main">
        <h1>Let us know how we can help!</h1>
        <div id="form_sample"></div> <!-- Include JS file here -->

        <script src="~/js/ContactFormJS.js"></script>
    </div>
</body>
</html>
