@model SWSTechnologies1.Models.ContactClientModel

@{
    ViewData["Title"] = "ContactClientForm";
}
@Html.AntiForgeryToken();
<head>
    <link href="~/css/ContactFormStyle.css" rel="stylesheet" />
</head>
<h1 class="text-lg-center">How can we help you?</h1>

<hr />
<body>
        <div class="form">
            <form asp-action="ContactClientForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Name" placeholder="name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="PhoneNumber"placeholder="phone number" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="EmailAddress" placeholder="email address" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="ConfirmEmailAdress" placeholder="confirm email" class="form-control" />
                    <span asp-validation-for="ConfirmEmailAdress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <textarea name="Message" placeholder="message" cols="25" rows="5"></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button>Submit</button>
                </div>
            </form>
        </div>
</body>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
