@{
    ViewData["Title"] = "HomePage";
}

    <head>
        <title>HomePage</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>
<body>
    <div class="jumbotron text-center">
        <h1 class="text-lg-center">SWS Technologies</h1>
        <p class="lead text-center">Mission statement goes here...</p>
        <p>
            <a class="btn btn-dark" href="https://SWSTechnologies.com/About">Learn More</a>
        </p>
    </div>

    <div class="row">
        <div class="col-md-4 text-center">
            <h2 class="text-center">What we do</h2>
            <p class="text-center">Brief summary of company and what they do.</p>
            <a class="btn btn-dark" asp-controller="Home" asp-action="About"><i class="fas fa-certificate"></i></a>
        </div>
        <div class="col-md-4 text-center">
            <h2 class="text-center">How we can help</h2>
            <p class="text-center">Get in contact with us.</p>
            <a class="btn btn-dark" asp-controller="Home" asp-action="ContactUs"><i class="far fa-address-card"></i></a>
        </div>
        <div class="col-md-4 text-center">
            <h2 class="text-center">What others say</h2>
            <p class="text-center">See what customers have to say about us.</p>
            <a class="btn btn-dark" asp-controller="Home" asp-action="Testimonials"><i class="fas fa-award"></i></a>
        </div>

    </div>
</body>