
@{
    ViewData["Title"] = "Testimonials";
}

    <head>
        <title>Testimonials</title>


        <link href="~/css/StyleSheet.css" rel="stylesheet" />
    </head>
<body>
    
        <h3 class="text-center">We want to hear your story!</h3>
    <div class="your-testimony">
        <div class="form">
            <form class="testimony-form">
                <input type="text" placeholder="name" />
                <input type="text" placeholder="company" />
                <textarea name="message" placeholder="message" cols="25" rows="5"></textarea>
                <button>Submit</button>
            </form>
        </div>
    </div>

</body>

